h1 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 35px;
}

.navbtn ul {
  display: flex;
  align-items: row;
  gap: 5px;
}

.navbtn ul li {
  text-decoration: none;
  list-style: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 20px;
  background-color: #0fa8bd;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.navbtn ul li:hover {
  background-color: #10c8e0;
}

.colorH2title h2, .colorh2title h2 {
  color: #772cf0;
  font-size: 35px;
  font-weight: 500;
}
